.template, #idea_details {
	display:none;
}

html, body { 
  margin:0; 
  padding:0; 
  height:100%;
  font: 14px Verdana;
}

.wrapper{
    height:100%;
    background: white;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFA726;
}
.header {
    padding: 20px 20px 20px 20px;
    height:150px;
    border-bottom:2px solid;
    background-color: #FFA726;
}

#menu_bar {
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
    width: 100%;
    background-color: #FFA726;
    border-bottom:2px solid;
}

#menu_bar a{
  display: inline-block;
  font: bold 16px Verdana;
  text-decoration: none;
  background-color: #orange;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-right: 1px solid #333333;
  width: auto;
  margin-top: 4px;
  margin-bottom: 2px;
  float: left;
}

#menu_bar a:hover{
  display: inline-block;
  font: bold 16px Verdana;
  text-decoration: none;
  background-color: #FFCC80;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-right: 1px solid #333333;
  width: auto;
  margin-top: 4px;
  margin-bottom: 2px; 
  float: left;
}
.current_userdiv{
 margin-left: 85%;
 font: bold 16px Verdana;
 padding: 5px 6px 2px 6px;
 border-left: 1px solid #333333;
 margin-top: 6px;
}


.content {
    padding: 5px 20px 5px 20px;
    min-height: 60%;
    background-color: #FFF3E0;
}

.idea_details_left{
   width:23%;
   height:100%;
   float:left;
   border-right:1px solid #000000; 
}

.idea_details_right{
    width:72%;
    height:100%;
    float:right;
    position:relative; 
}
.idea_details_right .description{
 
}

.idea{
    margin-bottom: 5px;
    margin-top: 5px;
    cursor: pointer;
}
.footer {
    border-top: 2px solid;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFA726;
    height:150px;
}

h2,h3{   
margin: 0 0 0 0;    
}

.idea{
    border: 1px solid;
    background-color: #FFE0B2;
    height:auto;
    text-decoration: none;
    display: block;
}