.template, #idea_details {
    display:none;
}

html, body { 
    margin:0; 
    padding:0; 
    height:100%;
    font: 14px Verdana;
}

.wrapper{
    height:100%;
    background: white;
    margin-left: auto;
    margin-right: auto;
    background-color: #2196F3;
    width: 100%;
}
.header {
    padding: 20px 20px 20px 20px;
    height:180px;
    border-bottom:2px solid;
    background-color: #2196F3;
}

#menu_bar {
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
    width: 100%;
    background-color: #2196F3;
    border-bottom:2px solid;
}

#menu_bar a{
    display: inline-block;
    font: bold 16px Verdana;
    text-decoration: none;
    background-color: #BBDEFB;
    box-shadow: 2px 2px 2px #0D47A1;
    border: 1px solid black;
    border-radius: 5px;
    color: #333333;
    padding: 2px 6px 2px 6px;
    width: auto;
    margin-top: 4px;
    margin-bottom: 2px;
    margin-right: 4px;
    float: left;
}

#menu_bar a:hover{
    display: inline-block;
    font: bold 16px Verdana;
    text-decoration: none;
    background-color: #90CAF9;
    border: 1px solid black;
    border-radius: 5px;
    color: #333333;
    padding: 2px 6px 2px 6px;
    width: auto;
    margin-top: 4px;
    margin-bottom: 2px; 
    float: left;
}
.current_userdiv{
    width: 13%;
    font: bold 16px Verdana;
    padding: 5px 6px 2px 6px;
    border-left: 1px solid #333333;
    margin-top: 6px;
    float: right;
}
.idea_countdiv{
    width: 10%;
    font: bold 16px Verdana;
    padding: 5px 6px 2px 6px;
    border-left: 1px solid #333333;
    margin-top: 6px;
    float: right;
}

.content {
    padding: 5px 20px 5px 20px;
    min-height: 60%;
    max-height: 90%;
    background-color: white;
}

#idea_details{
  margin-top:10px; 
}

.table_header{
  width: 55%;
  margin-left: auto;
  margin-right: auto; 
}

.details_table{
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

.row_even{
    background: #E3F2FD;
    padding: 8px 0;
    display: block;
}
.row_odd{
    background: #BBDEFB;
    padding: 8px 0;
    display: block;
}

.row_even:hover{
    background: #90CAF9;
    padding: 8px 0;
    display: block;
}
.row_odd:hover{
    background: #90CAF9;
    padding: 8px 0;
    display: block;
}

.details_table th {
    text-align: left;
    width: 150px;
}

.details_table td {
    width: 350px;
}

.details_table tr {
    border-bottom: 1px solid black;    
}

.idea_wrapper{
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 8px;
    cursor: pointer;
    border: 1px solid;
    background-color: #BBDEFB;
    text-decoration: none;
    display: block;
    width: 50%;
    height: 45px;
    margin-left: 22%;
    margin-right: 22%;
    float:left;
}
.idea_wrapper:hover{
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 8px;
    cursor: pointer;
    border: 1px solid;
    background-color: #90CAF9;
    text-decoration: none;
    display: block;
    width: 50%;
    height: 45px;
    margin-left: 22%;
    margin-right: 22%;
    float:left;
}

.idea_content{
   width: 84%;
   float:left;
}

.buttons_div{
   width: 15%;
   float:left;
   padding: 0px;
}

.footer {
    border-top: 2px solid;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #2196F3;
    height:100px;
}

h2,h3{   
    margin: 0 0 0 0;    
}

#comment_field{
    width: 400px;
    height: 100px; 
}

#title_field{
    width: 400px;
}

#description_field{
    width: 400px;
    height: 100px; 
}

.pagination_div{
    margin-top: 500px;   /*todo*/
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}
